
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./javascripts/properties.js"></script>
    <!-- <script src="./models/addresses.js"></script> -->
    <script src="./jQuery/interface.js"></script>
      <title>Home</title>
    </head>
    <body>
      <!-- <div class="titlediv">
            AirBnB
      </div> -->

      <div id="scroll">

    <button id="bowl"><span>Test</span></button>

    <p id="demo"></p>


    <!-- 2nd row verticaly centered images in square columns -->

    <div class="square">
       <div class="content">
            <div class="table">
                <div class="table-cell">
                    <img class="rs"/>
                    Sign up
                </div>
            </div>
        </div>
    </div>
    <div class="square">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                   <img class="rs"/>
                    Add a propery
                </div>
            </div>
        </div>
    </div>
    <div class="square">
       <div class="content">
            <div class="table">
                <div class="table-cell">
                    <img class="rs"/>
                    Search
                </div>
            </div>
        </div>
    </div>

    <!-- 3rd row responsive images in background with centered content -->

    <div class="square bg img1">
       <div class="content">
            <div class="table">
                <div class="table-cell">
                    Norway
                </div>
            </div>
        </div>
    </div>
    <div class="square bg img2">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                    Grimsby
                </div>
            </div>
        </div>
    </div>
    <div class="square bg img3">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                    Italy
                </div>
            </div>
        </div>
    </div>

    <div class="square bg img4">
       <div class="content">
            <div class="table">
                <div class="table-cell">
                    Canada
                </div>
            </div>
        </div>
    </div>
    <div class="square bg img5">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                    Switzerland
                </div>
            </div>
        </div>
    </div>
    <div class="square bg img6">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                    France
                </div>
            </div>
        </div>
    </div>

    <div class="square bg img7">
       <div class="content">
            <div class="table">
                <div class="table-cell">
                    Sweden
                </div>
            </div>
        </div>
    </div>
    <div class="square bg img8">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                    Estonia
                </div>
            </div>
        </div>
    </div>
    <div class="square bg img9">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                    Slovakia
                </div>
            </div>
        </div>
    </div>

    <div class="footer">All elements on this page are fictional and should not
       be used to actual book holidays. Should you require any further
       information in relation to same, please do not hesitate to contact
       Butt Facts Canada Ltd. Yours in largess.
    </div>
  </div>
    </body>
  </html>
